<h2>Mon Profil</h2>



<div>
  <% if current_user %>
<div>
      <% if current_user.avatar.attached? %>
        <%= user_avatar_image(current_user, alt: "Avatar de #{current_user.fullname}") %>
      <% else %>
        <%= image_tag "pexels-pixabay-416160.jpg", alt: "Avatar par défaut"%>
      <% end %>
          <h3>Changer d'avatar ?</h3>
<%= form_tag avatars_path, multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>
    <h3><%= current_user.fullname %></h3>
    <p> <%= current_user.email %></p>
    <button>Exporter mes données</button>
    <button>Supprimer mon compte</button>
    <%= link_to "Modifier", edit_profil_path, class: "btn btn-primary" %>
</div>
<div>
  <h3>Mes favoris</h3>
</div>
<div>
  <h3>Mes commandes</h3>
</div>
  <% else %>
    <div class="alert">Veuillez vous connecter pour accéder à votre profil.</div>
  <% end %>
  <%= link_to "Retour accueil", root_path %>
</div>